body
{
color:rgba(107, 11, 131, 0.2);
text-align: center;
font-family: "Arial";
font-size: 16px;
margin: 0;
padding: 0;
}
{

background: #333;
        color: white;
    margin: 0;
    padding: 0.5em;

}


   #container
{
    width: 70%;
    padding: 0em;
    text-align: center;
    border: 1px solid   rgb(240, 16, 16);
    margin: 0 auto; 
}   
{
    font-size: 20px;    
}